<%= render 'hero', school: @school, page_title: 'About Us' %>
<div class="container mx-auto border-t border-white py-4 min-h-screen">
    <div class="text-xl text-white font-light leading-relaxed mt-6 mb-4 text-gray-800"><%= @school.about %></div>
    <% @school.programs.each do |program| %>
        <div class="container border divide-lime-900 p-4 my-4 flex flex-col md:flex-row rounded bg-gray-100 shadow-xl">
            <figure>  
              <%= image_tag program.main_gallery_image_url, class:" w-full md:max-w-sm md:max-w-[30vw] h-96 object-scale-down w-fit h-full", alt: "Album" %>
            </figure>
          
            <div class="container p-4 flex flex-col justify-around">
                <h2 class="text-2xl font-bold"><%= program.description %></h2>
                <div class="py-2">
                    <p class="text-base leading-relaxed mt-0 mb-4 text-gray-900"><%= program.detailed_description %></p>
                </div>
                <div class="flex items-end py-4">
                    <%= link_to "View #{program.short_name} Page", program_path(program), class: "border p-2 px-6 rounded bg-black text-white"  %>
                </div>
            </div>
        </div>
    <% end %>
    <div></div>
</div>